@font-face {
  font-family: "StarJedi";
  src: url("../../../public/Starjedi.ttf") format("truetype");
}

.searchWrapper {
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  background-image: url("https://img.freepik.com/premium-photo/night-starry-sky-high-resolution-photo_361360-1219.jpg");

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px 0;
}

.searchContainer {
  position: relative;
  width: 600px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchHeader {
  -webkit-text-stroke: 1.5px yellow;
  color: transparent;
  letter-spacing: 2px;
  font-size: 48px;

  font-family: "StarJedi";
}

.searchInput {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 18px;
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;

  color: white;
  font-weight: 700;
  background-color: #242424;
  width: auto;
  border-radius: 25px;
  padding: 10px;

  transition:
    color 1s ease-in,
    -webkit-text-stroke 1s ease-in;
}

.searchButton:hover {
  background-color: white;
  -webkit-text-stroke: 1px black;
  color: transparent;
  letter-spacing: 2px;
}
