.searchWrapper {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px;
}

.searchContainer {
  position: relative;
  width: 600px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.searchButton:hover {
  color: #007bff;
}
