.paginationWrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.paginationButton {
  background-color: #000;
  border-radius: 5px;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  margin: 0 5px;
  padding: 15px 20px;
  font-family: "Starjedi";
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.3s;
}

.paginationButton:not(:disabled):hover {
  background-color: #f0f0f0;
  color: #000;
  transform: scale(1.1);
}

.paginationButton:disabled {
  background-color: #333;
  color: #777;
  cursor: not-allowed;
}

.active {
  background-color: #f564a9;
  color: #000;
}
