.paginationWrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.paginationButton {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
  margin: 0 5px;
  padding: 15px 20px;
  font-family: "Starjedi";
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.3s;
}

.darkThemePaginationButton {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.paginationButton:not(:disabled):hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.darkThemePaginationButton:not(:disabled):hover {
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  transform: scale(1.1);
}

.paginationButton:disabled {
  background-color: #333;
  color: #777;
  cursor: not-allowed;
}

.active {
  background-color: #f564a9;
  color: #000;
}
