:root .toggleWrapper {
  --hue: 223;
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
  font-size: calc(30px + (120 - 60) * (100vw - 1620px) / (2560 - 320));
}

.toggleWrapper {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: hsl(var(--hue), 10%, 90%);
  color: hsl(var(--hue), 10%, 10%);
  background: transparent;
  display: flex;
  transition:
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.toggleWrapper,
input {
  font: 1em/1.5 sans-serif;
}

.toggleWrapper:has(.switchInput:checked) {
  background-color: transparent;
  color: hsl(var(--hue), 10%, 90%);
}
.switch,
.switchInput {
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.switch {
  margin: auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switchIcon {
  color: hsla(var(--hue), 10%, 80%);
  pointer-events: none;
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  width: 0.75em;
  height: 0.75em;
  transition:
    color var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing);
}
.switchIcon:nth-of-type(2) {
  right: 0.5em;
  left: auto;
}
.switchInner,
.switchInnerIcons {
  border-radius: 0.5em;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 2.25em;
  height: 1em;
}
.switchInner:before,
.switchInnerIcons {
  transition: transform var(--trans-dur) var(--trans-timing);
  transform: translateX(-1.25em);
}
.switchInner:before {
  background-color: var(--primary);
  border-radius: inherit;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.switchInnerIcons {
  pointer-events: none;
}
.switchInnerIcons .switchIcon {
  color: hsl(0, 0%, 100%);
  top: 0.125em;
  left: 0.125em;
  transform: translateX(1.25em);
}
.switchInnerIcons .switchIcon:nth-child(2) {
  right: 0.125em;
  left: auto;
}
.switchInput {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.75em;
  box-shadow:
    0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 0),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
  outline: transparent;
  width: 2.75em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  transition:
    background-color var(--trans-dur),
    box-shadow var(--trans-dur);
}
.switchInput:checked {
  background-color: hsl(var(--hue), 10%, 10%);
}
.switchInput:checked ~ .switchIcon {
  color: hsla(var(--hue), 10%, 40%);
}
.switchInput:checked ~ .switchInner:before,
.switchInput:checked ~ .switchInnerIcons {
  transform: translateX(1.25em);
}
.switchInput:not(:checked) ~ .switchIcon:first-of-type,
.switchInput:checked ~ .switchIcon:nth-of-type(2) {
  transform: rotate(360deg);
}
.switchInput:checked ~ .switchInnerIcons .switchIcon:first-of-type {
  transform: translateX(-1.25em) rotate(-360deg);
}
.switchInput:checked ~ .switchInnerIcons .switchIcon:nth-of-type(2) {
  transform: translateX(-1.25em) rotate(360deg);
}
.switchInput:focus-visible {
  box-shadow:
    0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 1),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
}
.switchSr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
