.vehiclesSection {
  margin-top: 20px;
  border-top: 1px solid black;
  font-family: "Starjedi";
  text-transform: lowercase;
  text-align: center;
}

.darkThemeVehiclesSection {
  color: white;
}

.vehicleHeader {
  text-decoration: underline;
}

.vehicleItem {
  list-style: none;
  padding: 0;
}
