.characterCard {
  width: 300px;
  height: 360px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 1s ease,
    box-shadow 1s ease;
}

.darkTheme–°haracterCard {
  background-color: #242424;
  color: white;
}

.characterCardContent {
  transition:
    transform 1s ease,
    opacity 1s ease;
}

.characterCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1.5rem;
  text-align: center;
  padding: 16px;
  box-sizing: border-box;

  font-family: "Starjedi";
}

.darkThemeCharacterCardOverlay {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.characterCard:hover .characterCardContent {
  transform: scale(0.9);
  opacity: 0.5;
}

.characterCard:hover .characterCardOverlay {
  opacity: 1;
}

.characterName {
  margin: 0;
  font-size: 24px;
  color: #333;

  font-family: "Starjedi";
  letter-spacing: 2px;
}

.darkThemeCharacterName {
  color: white;
}

.characterDetails {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  text-align: left;
}

.characterDetails li {
  margin: 10px 0;
}

.characterDetails strong {
  color: #555;
}

.darkThemeCharacterDetails strong {
  color: white;
}
