.flyout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-family: "Starjedi";
}

.flyout span {
  margin-right: auto;
}

.flyout button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: "Starjedi";
  text-transform: lowercase;
  letter-spacing: 1px;
}

.flyout button:hover {
  background-color: #0056b3;
}
