.planetSection {
  margin-top: 20px;
  border-top: 1px solid black;
  font-family: "Starjedi";
  text-transform: lowercase;
  text-align: center;
}

.darkThemePlanetSection {
  color: white;
}

.planetHeader {
  text-decoration: underline;
}
