@font-face {
  font-family: "Starjedi";
  src: url("/Starjedi.ttf") format("truetype");
}

.starshipsSection {
  margin-top: 20px;
  border-top: 1px solid black;
  font-family: "Starjedi";
  text-transform: lowercase;
}

.starshipsHeader {
  text-decoration: underline;
}

.starshipsItem {
  list-style: none;
  padding: 0;
}
