.detailsContainer {
  margin-top: 20px;
  font-family: "Starjedi";
  text-transform: lowercase;
}

.detailsHeader {
  text-decoration: underline;
}

.closeButton {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;

  color: white;
  font-weight: 700;
  background-color: #242424;
  width: auto;
  border-radius: 25px;
  padding: 7px 9px;

  font-family: "StarJedi";

  transition:
    color 1s ease-in,
    -webkit-text-stroke 1s ease-in;
}

.closeButton:hover {
  background-color: white;
  -webkit-text-stroke: 1px black;
  color: transparent;
  letter-spacing: 2px;
}

.characterDetails {
  list-style: none;
}
