@font-face {
  font-family: "Starjedi";
  src: url("/Starjedi.ttf") format("truetype");
}

.vehiclesSection {
  margin-top: 20px;
  border-top: 1px solid black;
  font-family: "Starjedi";
  text-transform: lowercase;
}

.vehicleHeader {
  text-decoration: underline;
}

.vehicleItem {
  list-style: none;
  padding: 0;
}
